!Configuração de roteador Cisco 2811 para uma rede VOIP

!Configurar nome, senha e mensagem de acesso privado.
    enable
    configure terminal
    hostname RT1 
    enable secret CISCO
    banner motd #Cuidado acesso restrito!#
!Configurar a interface que vai para o nosso SW 
    interface fastEthernet 0/0
    ip address 192.168.10.254 255.255.255.0
    no shutdown
    exit
!Configurar dhcp na rede e servidor TFTP
    ip dhcp pool redevoip
    network 192.168.10.0 255.255.255.0
    default-router 192.168.10.254
    option 150 ip 192.168.10.254
    exit
!Configurar WAN
    interface serial 0/0/0
    ip address  189.10.10.1 255.255.255.252
    clock rate 4000000
    no shutdown
    exit
    ip route  192.168.20.0 255.255.255.0 189.10.10.2
!Configurar o Call Manager Express
    telephony-service
    max-dn 2
    max-ephones 2
    ip source-address 192.168.10.254 port 2000
    auto assign 1 to 2
    exit
    ephone-dn 1
    number 1001
    exit
    ephone-dn 2
    number 1002
    exit
!Configurar o plano de discagem
    dial-peer voice 1 voip
    destination-pattern 2001
    session target ipv4:189.10.10.2
    exit
    dial-peer voice 2 voip
    destination-pattern 2002
    session target ipv4:189.10.10.2
    exit
